################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Twaddle/.vs
/Twaddle/packages
/Twaddle/Twaddle/bin
/Twaddle/Twaddle/obj
/Twaddle/Twaddle.Tests/bin
/Twaddle/Twaddle.Tests/obj
*.cache
