
name: Package

on: 
 workflow_dispatch:
    inputs:
      version:
        description: 'The version that will be used within this NuGet package'
        required: false
        default: '2.0.0'
 push: 
jobs:              
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.100-preview.3.20216.6' # SDK Version to use.
      - name: Run Unit Tests
        run: |
         cd Twaddle/Twaddle.Library.Tests
         dotnet test --list-tests --configuration Release
         dotnet test --configuration Release
      - name: Package NuGet
        run: |
         cd Twaddle/Library/Twaddle.Library
         echo "${{ github.event.inputs.version }}"
         dotnet pack --configuration Release --include-symbols --version-suffix "${{ github.event.inputs.version }}"
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.1
        with:
         name: 'NuGet Package'
         path: '/Twaddle/Library/Twaddle.Library/bin/**/*.nukpg'
         
        

         
               
          
             
            
    
