
name: Package

on: 
 workflow_dispatch:
    inputs:
      version:
        description: 'The version that will be used within this NuGet package'
        required: false
        default: '2.0.0'
 push: 
jobs:              
  create-nuget-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '10.0.100' # SDK Version to use.
      - name: Run All Unit Test Projects
        shell: bash
        run: |
          find . -type f -iname '*Tests.csproj' | while read csproj; do
            echo "Running tests in $csproj"
            dotnet test "$csproj" --configuration Release
          done
      - name: Package NuGet
        run: |
         cd Twaddle/Library/CodeTreehouse.Twaddle.Core
         echo "${{ github.event.inputs.version }}"
         dotnet pack --configuration Release --include-symbols --version-suffix "${{ github.event.inputs.version }}"
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.1
        with:
         name: 'NuGet Package'
         path: '**/Twaddle.Library/**/*.nupkg'
         
        

         
               
          
             
            
    
