
name: Unit Tests

on: [pull_request]

jobs:              
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '10.0.100' # SDK Version to use.
      - name: Run All Unit Test Projects
        shell: bash
        run: |
          find . -type f -iname '*Tests.csproj' | while read csproj; do
            echo "Running tests in $csproj"
            dotnet test "$csproj" --configuration Release
          done
